{% extends 'admin/common/layout.html' %}
{% block main %}
<div class="content-header">
    {% import "admin/widgets/breadcrumb.html" as macros %}
    {{ macros.breadcrumb(breadcrumb(id=11))}}
</div>
<div class="content-body">
    <div class="container-fluid">
        {% include 'admin/common/message.html' %}
        <form method="post" enctype="multipart/form-data" class="row">
            <div class="col-md-8">
                <div class="panel">
                    <div class="panel-heading">主要内容</div>
                    <div class="panel-body">
                        <div class="form-group">
                            {{form.nikename.label}}
                            {{form.nikename}}
                        </div>
                        <div class="form-group">
                            <div class="cover-box">
                                <button class="btn btn-sm btn-primary">选择头像</button>
                                {{form.avatar(id='cover')}}
                            </div>
                            {%if avatar%}
                            <img class="card cover" src="{{avatar}}" style="height: 100px">
                            {%else%}
                            <img class="card cover" src="/static/images/upfile.png" style="height: 100px">
                            {%endif%}
                        </div>
                        <div class="form-group">
                            {{form.email.label}}
                            {{form.email}}
                        </div>
                        <div class="form-group">
                            {{form.profile.label}}
                            {{form.profile}}
                        </div>
                        {{form.submit}}
                        {{form.csrf_token}}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock main %}