<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">
    <link rel="stylesheet" href="//layui.hcwl520.com.cn/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/global.css">
    {% block css %}{% endblock %}
    <script src="//layui.hcwl520.com.cn/layui/layui.js"></script>
    {% block js %}{% endblock %}
</head>
<body>
<header class="fly-header layui-bg-black">
{% include 'home/common/header.html' %}
</header>
<main class="layui-container">
    <!--面包屑导航-->
    <div class="layui-breadcrumb" lay-separator="/" style="margin: 15px 0">
        {%for item in breadcrumb%}
        <a href="{{url_for(**item.args)}}">{%if loop.first%}<i class="layui-icon">&#xe68e;</i>{%endif%} {{item.title}}</a>
        {%endfor%}
    </div>
    {% block main %}{% endblock %}
</main>
<footer class="fly-footer">
{% include 'home/common/footer.html' %}
</footer>

<script src="/static/js/common.js"></script>
</body>
</html>